/* Estilos personalizados aquí */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    background-color: #1f2937; /* Color de fondo de la barra de navegación */
    padding: 0.5rem 1rem; /* Espaciado interno de la barra de navegación */
}

.container {
width: 80%; /* Establece el ancho al 80% */
margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.card {
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row; /* Cambia la dirección del flex container a fila */
    align-items: center;
}

.anime-info {
    margin-left: 20px; /* Agrega margen izquierdo */
    text-align: left; /* Alinea el texto a la izquierda */
}

.anime-image {
    width: 40%; /* Reducir el ancho de la imagen */
    max-width: 300px; /* Tamaño máximo de la imagen */
    border-radius: 8px;
    margin-right: 20px; /* Agrega margen derecho */
}

.synopsis {
    color: #444;
    font-size: 0.9em;
    line-height: 1.4;
}
.card
.anime-info
.anime-title{
  font-size:30px;
}
.card
.anime-info
.year{
  font-size:18px;
}
.card
.anime-info
.status{
  font-size:18px;
}
.card
.anime-info
.genre{
  font-size:18px;
}

.card
.anime-info
.type{
  font-size: 18px;
}

.card
.anime-info
.synopsis{
  font-size:15px;
}


.proximo, h3{
  font-size: 20px;
  color: blue;
}
